[submodule "subscribers-service"]
	path = subscribers-service
	url = https://github.com/StanislawGlegola/subscribers-service.git
[submodule "users-service"]
	path = users-service
	url = https://github.com/StanislawGlegola/users-service
